:host {
  display: block;
  width: 100%;
}

.expenses-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1rem;
}

.expenses-container h2 {
  text-align: center;
}

.expenses-form, .expenses-list {
  padding: 1rem;
}
.expenses-form {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expenses-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 600px) {
  .expenses-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .expenses-container h2 {
    text-align: left
  }
}