<mat-sidenav-container class="sidenav-container">

  <!-- Sidenav for mobile navigation -->
  <mat-sidenav #sidenav mode="over" [fixedInViewport]="true" [fixedTopGap]="64">
    <mat-nav-list>
      <a mat-list-item routerLink="/expenses" (click)="sidenav.close()">Gastos</a>
      <a mat-list-item routerLink="/budget" (click)="sidenav.close()">Ingresos</a>
      <a mat-list-item routerLink="/reports" (click)="sidenav.close()">Reportes</a>
      <a mat-list-item routerLink="/categories" (click)="sidenav.close()">Categorías</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/profile" (click)="sidenav.close()">
        <mat-icon>account_circle</mat-icon> Perfil
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content area -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- Menu button for small screens -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <div class="app-logo"> <img src="assets/logo.png" alt="App Logo" style="height: 80px; margin-right: 8px;"></div>
      <span class="example-spacer"></span>

      <!-- Navigation buttons for large screens -->
      <div class="nav-buttons" *ngIf="!isHandset">
        <button mat-button routerLink="/expenses">Gastos</button>
        <button mat-button routerLink="/budget">Ingresos</button>
        <button mat-button routerLink="/reports">Reportes</button>
        <button mat-button routerLink="/categories">Categorías</button>
        <button mat-icon-button routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="content">
      <!-- Router outlet is gonna display components based on the current route -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


